h1 {
    color: red;
    font-size: 40px;
}
.first-div {
    background-color: gray;
    color: white;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
}
.second-div {
    background-color: gray;
    color: white;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
}
#random-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

